.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0
}

.notification{
  width: 48px;
  margin: 100px auto;
}

.notification .count {
  --size: 30px;
  font-size: 12px;
  font-weight: bold;
  background-color: red;
  color: white;
  border: solid 2px white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  max-width: var(--size);
  max-height: var(--size);
  box-sizing: border-box;
  position: relative;
  border-radius: 50%;
  top: 20px;
}