#titulo{
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 1rem;
    width: 100px;
}
.texto{
    color: slateblue;
}

.margen{
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
}