body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.collapsed{
  display:none
}

nav{
  background-color: black;
  color: white;
  width: 100%;
}

nav .mobile{
  display: none;
}

nav .mobile .header{
  display: flex;
  justify-content: space-between;
}

nav .mobile .header .more button{
  background-color: black;
  border-style: none;
}

nav .mobile .header .more button img{
  width: 40px;
}

nav .logo img{
  width: 100px;
}

nav a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 25px;
}

nav a:hover{
  color: black;
  background: #00c3ff
}

nav .desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav .desktop .primary, nav .desktop .secondary{
  display: flex;
}

nav .desktop .secondary.mini{
  display: none;
}

@media screen and (max-width: 900px) {
  nav .desktop .secondary{
    display: none;
  }
  nav .desktop .secondary.mini{
    display: block;
  }

  nav .desktop .secondary.mini .submenu{
    position: absolute;
    display: none;
    width: 200px;
    right: 0;
  }
  
  nav .desktop .secondary.mini:hover .submenu{
    position: absolute;
    display: block;
    background-color: black;
    color: #fff;
  }
}

@media screen and (max-width: 520px) {
  nav .desktop{
    display: none;
  }

  nav .mobile{
    display: block;
  }
 
}